{% extends 'index.html' %}
{% block title %}Editar task{% endblock %}
{% block content %}

<div class="flex items-center justify-center min-h-screen">
    <div class="{% if task.completed == True %}bg-[#92B7F6] {% endif %} shadow-lg rounded-xl p-8 w-full max-w-md border-4 border-[#668CCE]"
        style="transform: rotate(-2deg);">
        <div class="flex justify-between align-center text-align mb-2">
            <a href="{% url 'tasks:home' %}"><span
                    class="text-2xl text-yellow-900 inline-block rotate-180 mb-3">➔</span></a>
            <span>
                <h1 class="text-2xl font-bold text-yellow-900 mb-4 text-center">Você tem certeza que deseja deletar a tarefa: <strong>{{ task.name }}</strong></h1>
                <h3 class="text-2xl font-medium text-yellow-900 mb-4 text-center">{% if task.compled != True %}
                    Você ainda não completou ela!!
                {% endif %}</h3>
            </span>
            
            <span></span>
        </div>

        <form action="" method="post" class="space-y-4">
            {% csrf_token %}

            <input type="submit" value="Deletar tarefa"
                class="w-full bg-yellow-400 hover:bg-yellow-500 text-yellow-900 font-semibold py-2 px-4 rounded-lg shadow transition duration-300 cursor-pointer">
        </form>
    </div>
</div>
{% endblock %}