{% load static %}
<section class="w-80 bg-white rounded-xl shadow p-6 flex flex-col space-y-6">
    <!-- User Info -->
    <div class="flex flex-col items-center space-y-3">
        <div class="rounded-full w-20 h-20 flex items-center justify-center text-white text-4xl font-bold uppercase">
            {% if user.is_superuser %}
            <img class="rounded-full" src="{% static 'images/photo_profile_admin.avif' %}" alt="Admin">
            {% elif sex == 'M' %}
            <img src="{% static 'images/photo_profile_male.png' %}" alt="">
            {% elif sex == 'F' %}
            <img src="{% static 'images/photo_profile_female.png' %}" alt="">
            {% endif %}

        </div>
        <h2 class="font-bold text-lg transform capitalize">{{name}}</h2>
        <p class="text-gray-500 text-sm">{{ country_name|default:"N/A" }}</p>
    </div>

    <!-- Followers/Following -->
    <div class="flex justify-between border rounded p-3">
        <div class="flex flex-col items-center border-r pr-6 text-center">
            {% if user.is_superuser %}
            <span class="text-indigo-600 font-bold text-xl">{{pending_tasks}}</span>
            <span class="text-xs text-gray-500">Atividades atribuidas</span>
            {% else %}
            <span class="text-indigo-600 font-bold text-xl">{{pending_tasks}}</span>
            <span class="text-xs text-gray-500">Atividades atribuidas</span>
            {% endif %}
        </div>
        <div class="flex flex-col items-center pl-6 text-center">
            {% if user.is_superuser %}
            <span class="text-yellow-500 font-bold text-xl">{{completed_tasks}}</span>
            <span class="text-xs text-gray-500">Tarefas Concluídas</span>
            {% else %}
            <span class="text-yellow-500 font-bold text-xl">{{completed_tasks}}</span>
            <span class="text-xs text-gray-500">Tarefas Concluídas</span>
            {% endif %}
        </div>
    </div>

    {% if user.is_superuser %}
    <a href="{% url 'tasks:add' %}"
        class="bg-pink-500 hover:bg-pink-600 text-white font-semibold rounded py-2 transition text-center"><button>Adicionar usuário</button></a>
    {% else %}
    <a href="{% url 'tasks:add' %}"
        class="bg-pink-500 hover:bg-pink-600 text-white font-semibold rounded py-2 transition text-center"><button>Adicionar tarefa</button></a>
    {% endif %}
    <!-- About Me -->
    <div class="text-sm text-gray-700 space-y-1">
        <p class="font-bold">Sobre mim</p>
        <p>Olá, <span class="text-pink-500 font-bold transform capitalize">{{name}}!</span> Estou aqui para ajudar você a organizar suas
            tarefas diariamente.</p>
        <p><strong>Endereço:</strong> {{address}}</p>
        <p><strong>Telefone:</strong> Não definido</p>
        <p><strong>Email:</strong> {{email}}</p>
    </div>


    <!-- Calendario de dias da semana -->
    <!-- <div class="flex justify-between space-x-2">

        <button type="button"
            class="w-10 h-10 flex items-center justify-center rounded-full border-2 border-pink-500 bg-white text-pink-500 font-semibold hover:bg-pink-50 transition"
            aria-label="Segunda-feira">
            S
        </button>

        <button type="button"
            class="w-10 h-10 flex items-center justify-center rounded-full border-2 border-pink-500 bg-white text-pink-500 font-semibold hover:bg-pink-50 transition"
            aria-label="Terça-feira">
            T
        </button>

        <button type="button"
            class="w-10 h-10 flex items-center justify-center rounded-full border-2 border-pink-500 bg-white text-pink-500 font-semibold hover:bg-pink-50 transition"
            aria-label="Quarta-feira">
            Q
        </button>

        <button type="button"
            class="w-10 h-10 flex items-center justify-center rounded-full border-2 border-pink-500 bg-white text-pink-500 font-semibold hover:bg-pink-50 transition"
            aria-label="Quinta-feira">
            Q
        </button>

        <button type="button"
            class="w-10 h-10 flex items-center justify-center rounded-full border-2 border-pink-500 bg-white text-pink-500 font-semibold hover:bg-pink-50 transition"
            aria-label="Sexta-feira">
            S
        </button>

    </div> -->
</section>