<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- ag grid -->
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css" />
    
    <style>
        abbr, abbr:focus {
            outline: none;
            border-bottom: none;
        }
    </style>

    <title>{% block title %}Structure html{% endblock %}</title>
</head>
<body>
    <header>
    </header>
    {% load static %}
    <!-- <main class="bg-cover bg-center h-screen" style="background-image: url(&quot;{% static 'background.png' %}&quot;);"> -->
    <main class="bg-[#F8F8FD] h-screen">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>